.container {
  width: 600px;
  height: 350px;
  margin: 0 auto;
  border: 2px solid red;
}

.carousel{
  /*overflow:hidden;*/
  height:100%;
  background-color: pink;

}
.frames{
  list-style:none;
  /* position: What value should position have?; */
  height:1200%;
  /*overflow:hidden;*/
  padding:0;
  margin: 0;
  margin-left: 0px;
  border: 2px solid blue;
}
.frames > li{
  /* position: What value should position have?; */
  /*float:left;*/
  height:33.33333%; /* 100 / number of frames */
}

form:first-of-type {
  border: 2px solid pink;
  max-height: 300px;
  width: 600px;
  margin-bottom: -300px;
}

form:last-of-type {
  border: 2px solid deeppink;
}

.carousel form{
  display:block;
  height:100%;
  max-height:100%;
}
.carousel h2{
  font-size:1em;
  padding:0.5em;
  position:absolute;
  bottom:10px;
  left:10px;
  text-align:left;
  margin: 0;
  color:#fff;
  background-color:rgba(99,0,0,0.75);
}

.carousel_controls a {
  font-family: monospace;
  text-decoration: none;
  position: absolute;
  margin-top: 99px;
  width: 30px;
  line-height: 30px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
a#previous_frame {
  margin-left: -50px;
}
a#next_frame {
  margin-left: 390px;
}

