<div class="container">
  <div class="carousel_controls">
    <a href="#" id="previous_frame">&lt;</a>
    <a href="#" id="next_frame">&gt;</a>
  </div>
  <div class="carousel">
    <ul class="frames">
      <li>
        <p>first</p>
        <%= erb :question_form %>
      </li>
      <li>
        <p>second</p>
        <%= erb :question_form %>
      </li>
      <li>
        <p>third</p>
        <%= erb :question_form %>
      </li>
    </ul>
  </div>
</div>
